* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
body {
  box-sizing: border-box;
  padding: 0 !important;
  font-size: 14px;
  line-height: 1.5;
  transition: .3s all;
  position: relative;
  font-weight: 400;
  font-family: 'Roboto';
  background: #fff; }
  body.active {
    overflow: hidden; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body a {
    transition: .3s all !important;
    color: #28333b;
    line-height: 1.5; }
    body a:hover {
      color: #00539d; }
  body ul {
    padding: 0;
    margin: 0; }
  body input, body button {
    outline: none !important;
    box-shadow: none;
    transition: .3s all; }
  body .slick-slide {
    height: auto; }
    body .slick-slide img {
      display: inline; }
  body .container {
    width: 100%;
    max-width: 1190px; }
  body img {
    max-width: 100%; }

.row {
  margin: 0 -10px; }
  .row > div {
    padding: 0 10px; }

.slick-slider {
  margin-bottom: 0; }

.avarta {
  overflow: hidden; }
  .avarta img {
    transition: .4s all !important; }
    .avarta img:hover {
      transform: scale(1.05); }

.col-right {
  flex: 0 0 320px;
  max-width: 320px; }

.col-left {
  flex: 0 0 calc(100% - 320px);
  max-width: calc(100% - 320px); }

.detail h2, .detail h3, .detail h4, .detail h5, .detail h6 {
  margin-bottom: 20px;
  font-weight: 500; }

footer {
  background: #f9f9f9;
  margin-top: 30px; }

p.flx {
  display: flex;
  margin-bottom: 5px; }

p.flx span.w135:first-child {
  flex: 0 0 130px; }

p.flx.mb5:last-child {
  margin-bottom: 0; }

.fter-top {
  padding: 40px 0 20px 0;
  border-bottom: thin solid #8b9ba7;
  margin-bottom: 30px; }
  .fter-top ul a {
    display: inline-flex;
    background: #8b9ba7;
    font-size: 14px;
    color: #f9f9f9;
    padding: 0 22px;
    align-items: center;
    height: 30px; }

.footer-category {
  padding-bottom: 30px; }
  .footer-category ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
    .footer-category ul li {
      flex: 0 0 20%;
      padding-right: 10px; }
  .footer-category a {
    font-weight: 500;
    display: flex;
    padding: 4px 0; }

.footer-info {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px; }

.footer-bottom {
  border-top: thin solid #8b9ba7;
  font: normal 16px/47px Roboto;
  color: #64717a;
  text-align: center; }

.header-top {
  background: #00539d;
  color: #fff;
  font-size: 10px;
  font-family: arial;
  height: 30px;
  display: flex;
  align-items: center; }
  .header-top a {
    color: #fff !important;
    display: inline-flex;
    align-items: center;
    position: relative; }
    .header-top a img {
      margin-right: 5px; }
    .header-top a:after {
      content: url(../images/close.png);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
    .header-top a.active img {
      opacity: 0; }
    .header-top a.active:after {
      opacity: 1; }
  .header-top ul li {
    padding-right: 15px;
    border-right: 1px solid #fff;
    line-height: 1;
    position: relative; }
    .header-top ul li:last-child {
      padding-right: 0;
      border-right: 0; }

.form-search {
  position: absolute;
  background: #fff;
  top: 23px;
  right: 0;
  width: 350px;
  height: 30px;
  z-index: 2;
  box-shadow: -2.6px 1.5px 6px 0 #00000008;
  border: solid 1px #ebebeb;
  display: none; }
  .form-search input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 13px;
    padding: 0 10px; }
  .form-search button {
    width: 56px;
    background: #ebebeb;
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100%;
    font-size: 15px;
    color: #aaa; }
    .form-search button:hover {
      background: #1778cf;
      color: #fff; }

.header-menu {
  padding: 10px 0;
  position: relative;
  border-bottom: thin solid #ebebeb;
  margin-bottom: 20px; }
  .header-menu .logo {
    flex: 0 0 190px;
    margin-right: 10px;
    padding-right: 10px; }
    .header-menu .logo img {
      max-width: 190px;
      width: 100%; }
  .header-menu .menu {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .header-menu .menu ul {
      list-style: none;
      display: flex;
      text-transform: uppercase;
      flex: 0 0 calc(100% - 200px);
      width: 100%;
      justify-content: space-between; }
    .header-menu .menu a {
      display: inline-flex;
      font-weight: 500;
      position: relative; }
      .header-menu .menu a:hover {
        color: #00539d; }
      .header-menu .menu a.active {
        color: #00539d; }
        .header-menu .menu a.active:after {
          content: ' ';
          position: absolute;
          height: 2px;
          width: 100%;
          bottom: -20px;
          left: 0;
          background: #00539d; }

.clickable-menu a:after {
  display: none !important; }

.all-menu {
  background: #f9f9f9;
  position: absolute;
  top: 90px;
  width: 100%;
  padding: 20px;
  z-index: 10;
  font-family: arial;
  display: none; }
  .all-menu ul {
    list-style: none; }
    .all-menu ul li {
      margin-bottom: 6px; }
      .all-menu ul li:last-child {
        margin-bottom: 0; }
    .all-menu ul a {
      color: #64717a; }

.item-sub .title-sub {
  margin-bottom: 6px; }
  .item-sub .title-sub a {
    display: flex;
    align-items: center;
    font-weight: bold; }
    .item-sub .title-sub a img {
      margin-right: 8px; }

.sub-menu .col-md-2 {
  padding: 15px 10px;
  flex: 0 0 20%;
  max-width: 20%; }

.clickable-menu a {
  width: 22px; }
  .clickable-menu a .clc-close-menu {
    display: none; }
  .clickable-menu a.active .clc-close-menu {
    display: block; }
  .clickable-menu a.active .dot-menu-ing {
    display: none; }

.slide-newhots {
  margin-bottom: 20px; }

.trending {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .trending .left {
    flex: 0 0 30px;
    margin-right: 20px; }
  .trending .right {
    flex: 0 0 calc(100% - 50px);
    max-width: calc(100% - 50px);
    width: 100%; }
  .trending a {
    display: flex;
    height: 30px;
    border: thin solid #d6dce2;
    padding: 0 20px;
    align-items: center;
    border-radius: 30px;
    font-size: 12px;
    color: #64819d; }
    .trending a:after {
      content: "#";
      margin-right: 5px; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: auto; }

.banner-ads {
  margin-bottom: 20px; }

.scroll-new-top {
  padding: 2px;
  border: 1px solid #ebebeb; }
  .scroll-new-top ul {
    list-style: none;
    padding: 0 20px;
    height: 485px;
    overflow: auto; }
    .scroll-new-top ul li {
      border-bottom: 1px solid #ebebeb; }
      .scroll-new-top ul li:last-child {
        border-bottom: 0; }
    .scroll-new-top ul a {
      display: flex;
      padding: 15px 0; }
    .scroll-new-top ul::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #fff; }
    .scroll-new-top ul::-webkit-scrollbar {
      width: 7px;
      background-color: #fff; }
    .scroll-new-top ul::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #ebebeb; }

.date {
  color: #8b9ba7;
  font-size: 12px;
  display: flex;
  align-items: center; }
  .date img, .date i {
    margin-right: 5px; }

.item-big-new {
  border: 1px solid #ebebeb; }
  .item-big-new .info {
    padding: 20px; }
    .item-big-new .info a {
      font-size: 30px;
      font-weight: bold;
      display: block;
      margin-bottom: 14px;
      line-height: 1.2; }
  .item-big-new ul {
    list-style: none;
    padding: 0 20px 20px 20px; }
    .item-big-new ul li {
      margin-bottom: 5px; }
      .item-big-new ul li:last-child {
        margin-bottom: 0; }
      .item-big-new ul li:first-child {
        border-top: thin solid #ebebeb;
        padding-top: 20px; }
    .item-big-new ul a {
      position: relative;
      padding-left: 20px; }
      .item-big-new ul a:after {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 4px;
        height: 4px;
        border-radius: 5px;
        background: #00539d; }

.event-hot {
  background: #00549d;
  color: #fff;
  margin-bottom: 20px; }

.title-event a {
  display: flex;
  justify-content: center;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  align-items: center; }
  .title-event a img {
    margin-right: 10px; }

.item-event-hot .info a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 15px;
  line-height: 1.4; }

.box-ads-bar .item-abs {
  margin-bottom: 20px; }
  .box-ads-bar .item-abs:last-child {
    margin-bottom: 0; }

.slide-big-top {
  margin: 20px -10px 0 -10px; }
  .slide-big-top .item-slide {
    padding: 0 10px; }
  .slide-big-top .item .avarta {
    margin-bottom: 10px; }
  .slide-big-top .item .info a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4; }

.slick-dots {
  position: unset;
  bottom: 0;
  padding-top: 20px; }
  .slick-dots button {
    display: none !important; }
  .slick-dots li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #ebebeb; }
    .slick-dots li.slick-active {
      background: #00539d; }

.box-new-1 {
  margin-bottom: 20px; }

.ads-border {
  padding: 20px 0 0 0;
  border-top: 5px solid #00539d; }

.new-time {
  border-top: 5px solid #00539d;
  display: flex; }
  .new-time .title-time {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebebeb;
    font-size: 16px;
    font-weight: bold;
    padding: 13px;
    color: #d3260a; }
    .new-time .title-time img {
      margin: -3px 10px 0 0; }
  .new-time .left {
    flex: 0 0 280px;
    margin-right: 20px; }

.list-time-left {
  background: #ebebeb;
  margin-bottom: 20px; }

.item-time {
  display: flex;
  width: 100%;
  border-top: 1px solid #fff; }
  .item-time .date {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #28333b;
    flex: 0 0 62px;
    padding: 15px 5px;
    border-right: 1px solid #fff;
    text-align: center; }
  .item-time a {
    display: block;
    font-size: 15px;
    font-weight: normal;
    padding: 15px 12px; }

.new-stream {
  padding-top: 20px; }

.item-stream {
  display: flex;
  box-shadow: 0 2px 0 0 #00000008;
  border: solid 1px #ebebeb;
  margin-bottom: 20px; }
  .item-stream:last-child {
    margin-bottom: 0;
    box-shadow: unset;
    border: 0; }
  .item-stream .avarta {
    flex: 0 0 220px; }
  .item-stream .info {
    padding: 15px; }
    .item-stream .info a {
      display: block;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 8px; }
  .item-stream .viewmore a {
    border: thin solid #ecf5fd;
    border-radius: 3px 3px 5px 5px;
    border-bottom-width: 3px;
    height: 35px;
    width: 250px;
    text-align: center;
    color: #00539d;
    font-size: 14px;
    margin: auto;
    cursor: pointer;
    transition: ease .3s !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 39px; }
    .item-stream .viewmore a:hover {
      border-color: #00539d;
      border-bottom-color: #1778cf; }

.special-news {
  background: #d3260a;
  color: #fff;
  margin-bottom: 20px; }
  .special-news .title-spec {
    padding: 13px;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center; }
    .special-news .title-spec img {
      margin-right: 10px; }
    .special-news .title-spec a {
      color: #fff !important; }
  .special-news .info {
    padding: 15px;
    font-size: 13px;
    font-style: italic; }
    .special-news .info a {
      display: block;
      font-size: 18px;
      font-style: initial;
      color: #fff;
      line-height: 1.4;
      margin-bottom: 10px; }

.new-bara-spec {
  border: 1px solid #ebebeb;
  margin-bottom: 20px; }
  .new-bara-spec .title-bar-spec {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px; }
    .new-bara-spec .title-bar-spec a {
      display: flex;
      font-size: 16px;
      font-weight: bold;
      padding: 13px 20px;
      align-items: center; }
      .new-bara-spec .title-bar-spec a img {
        margin-right: 10px; }

.list-item-spec-bar {
  padding: 0 20px 20px 20px; }

.item-bar-spec {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }
  .item-bar-spec:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0; }
  .item-bar-spec .avarta {
    margin-bottom: 15px; }
  .item-bar-spec .info a {
    display: block;
    font-size: 18px;
    line-height: 1.35;
    font-weight: 500; }

.box-new-2 {
  margin-bottom: 20px; }

.content-box-video {
  border: thin solid #1778cf;
  border-bottom: 5px solid #00539d; }

.title-video {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background: #1778cf; }
  .title-video li {
    border-right: 1px solid #fff;
    padding-right: 15px; }
    .title-video li:last-child {
      padding-right: 0;
      border-right: 0; }
  .title-video a {
    color: #fff;
    opacity: .6;
    display: flex;
    line-height: normal; }
    .title-video a:hover {
      opacity: 1;
      color: #fff !important; }
  .title-video .left {
    display: flex;
    align-items: center;
    color: #fff; }
    .title-video .left img {
      margin: -2px 10px 0 0; }
  .title-video ul {
    font-size: 10px;
    font-weight: normal; }

.info-content-video {
  padding: 20px 5px 20px 20px; }

.info-content-video .avarta {
  position: relative; }
  .info-content-video .avarta .icon-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    pointer-events: none; }
    .info-content-video .avarta .icon-play a {
      color: #fff; }

.video-big .icon-play a {
  font-size: 65px; }
.video-big .info a {
  display: block;
  font-size: 20px;
  line-height: 1.3;
  padding: 15px 0;
  font-weight: bold; }

.list-video ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }
  .list-video ul li {
    flex: 0 0 50%;
    padding: 20px 10px 0 10px; }
    .list-video ul li:first-child, .list-video ul li:nth-child(2) {
      padding-top: 0; }
.list-video .info a {
  display: block;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 500; }
.list-video .avarta {
  margin-bottom: 10px; }

.scroll-video {
  max-height: 365px;
  overflow: auto;
  padding: 0 5px 0 20px;
  border-left: 1px solid #ebebeb; }
  .scroll-video::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff; }
  .scroll-video::-webkit-scrollbar {
    width: 7px;
    background-color: #fff; }
  .scroll-video::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b4cde3; }

.item-scroll-video {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }
  .item-scroll-video:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0; }
  .item-scroll-video .avarta {
    flex: 0 0 110px;
    margin-left: 15px;
    order: 2; }
  .item-scroll-video .info {
    order: 1; }
    .item-scroll-video .info a {
      font-size: 15px;
      display: block;
      font-weight: normal;
      line-height: 1.3;
      text-align: right; }

.box-videos {
  margin-bottom: 20px; }

.box-category .content {
  border: 1px solid #ebebeb;
  padding: 0 20px 20px 20px; }
.box-category .row .col-md-4:first-child {
  flex: 0 0 37%;
  max-width: 37%; }
.box-category .row .col-md-4:nth-child(2) {
  flex: 0 0 calc(63% - 340px);
  max-width: 0 0 calc(63% - 340px); }
.box-category .row .col-300 {
  flex: 0 0 340px;
  max-width: 340px; }

.title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }
  .title img {
    margin: -1px 10px 0 0; }

.box-ads-cate {
  border-left: 1px solid #ebebeb;
  padding-left: 19px;
  height: 100%; }

.new-big-cate .info a {
  display: block;
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
  padding: 15px 0; }

.item-small {
  display: flex;
  padding-bottom: 15px;
  border-bottom: thin dotted #a2a2a2;
  margin-bottom: 15px; }
  .item-small:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0; }
  .item-small .avarta {
    flex: 0 0 150px;
    margin-right: 16px; }
  .item-small .info a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4; }

.box-category {
  margin-bottom: 20px; }

.item-new-ads {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ebebeb; }
  .item-new-ads:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }
  .item-new-ads a {
    color: #495055;
    font-size: 15px;
    font-weight: normal;
    display: block; }

.side-ban-doc {
  border: thin solid #ebebeb;
  margin-bottom: 20px;
  padding: 20px; }
  .side-ban-doc .top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .side-ban-doc .left {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; }
    .side-ban-doc .left img {
      margin-right: 8px; }
  .side-ban-doc .title-box {
    padding: 25px 0; }
    .side-ban-doc .title-box a {
      display: block;
      font-size: 16px;
      line-height: 1.4; }
  .side-ban-doc .btn-bd a {
    color: #2e2e2e;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #dedede;
    background: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    width: 100%; }

#modal-bd .modal-dialog {
  max-width: 360px;
  border-radius: 0; }
#modal-bd .modal-content {
  border: 0;
  border-radius: 0; }

.content-popup {
  padding-bottom: 20px; }
  .content-popup h4 {
    text-align: center;
    font-size: 17px;
    color: #00539d;
    margin-bottom: 16px; }

.form-bd .item {
  margin-bottom: 10px; }
  .form-bd .item:last-child {
    margin-bottom: 0; }
.form-bd .txt_bd {
  padding: 10px 7px;
  border-radius: 5px;
  border: 1px solid #ececec;
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: Roboto;
  box-sizing: border-box;
  line-height: 18px; }
.form-bd textarea {
  padding: 10px 7px;
  border-radius: 5px;
  border: 1px solid #ececec;
  display: block;
  width: 100%;
  font-size: 12px;
  font-family: Roboto;
  box-sizing: border-box;
  line-height: 18px;
  height: 200px;
  outline: none !important; }
.form-bd .button-action button, .form-bd .button-action .btn_bd {
  width: 86px;
  height: 28px;
  background: #1778cf;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin: 0 5px; }

.content-detail {
  box-shadow: 0 3px 6px 0 #00000008;
  border: solid 1px #f8f4f4;
  padding: 20px;
  font-size: 16px; }

.cate-detail {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px; }
  .cate-detail ul {
    list-style: none;
    font-size: 10px;
    display: flex;
    align-items: center; }
    .cate-detail ul li {
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid #ddd; }
      .cate-detail ul li:last-child {
        padding-right: 0;
        margin-right: 0;
        border-right: 0; }

.detail-info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px; }

.detail-left {
  flex: 0 0 calc(100% - 320px);
  padding-right: 20px; }

.detail-right {
  flex: 0 0 320px;
  border-left: 1px solid #ebebeb;
  padding-left: 20px; }

.info-detail {
  color: #4c4e50;
  font-family: arial;
  line-height: 1.65; }
  .info-detail ul {
    padding-left: 18px;
    margin-bottom: 20px; }
    .info-detail ul li {
      margin-bottom: 6px; }
      .info-detail ul li:last-child {
        margin-bottom: 0; }
  .info-detail p {
    margin-bottom: 20px; }
    .info-detail p img {
      max-width: 100%;
      height: auto; }

.detail-top h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-bottom: 15px; }
.detail-top .date-like {
  font-size: 14px;
  color: #8b9ba7;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .detail-top .date-like .left img {
    margin-right: 5px; }
  .detail-top .date-like .left li {
    padding-right: 10px;
    border-right: 1px solid #ebebeb; }
    .detail-top .date-like .left li:last-child {
      padding-right: 0;
      border-right: 0; }

.description {
  font-weight: bold;
  margin-bottom: 20px; }

.link-news-detail {
  margin-bottom: 20px;
  font-size: 14px; }
  .link-news-detail ul {
    list-style: none; }
    .link-news-detail ul li {
      margin-bottom: 5px; }
      .link-news-detail ul li:last-child {
        margin-bottom: 0; }
    .link-news-detail ul a {
      color: #004383;
      position: relative;
      padding-left: 15px; }
      .link-news-detail ul a:after {
        content: ".";
        position: absolute;
        left: 0;
        top: 0;
        font-size: 25px;
        line-height: 0; }

.side-bar-mxh {
  position: sticky;
  top: 10px; }
  .side-bar-mxh ul {
    list-style: none; }
    .side-bar-mxh ul li {
      margin-bottom: 20px; }
      .side-bar-mxh ul li:last-child {
        margin-bottom: 0; }

.like-mail {
  padding: 10px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }

.tags {
  font-size: 11px;
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb; }
  .tags ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .tags span {
    font-size: 16px; }
  .tags a {
    text-transform: uppercase;
    display: inline-block;
    color: #696969;
    background: #ebebeb;
    padding: 4px 10px 2px 10px;
    align-items: center;
    border-radius: 4px; }

.comment {
  padding: 20px 0; }

.same-category {
  padding-top: 20px;
  border-top: 1px solid #ebebeb; }
  .same-category .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px; }

.same-category-title {
  font-size: 18px;
  font-weight: bold; }

.date-select {
  color: #959595;
  font-size: 14px; }
  .date-select select {
    height: 20px;
    border: thin solid #ebebeb;
    border-radius: 3px;
    padding: 0 5px;
    color: #696969; }
  .date-select button {
    display: inline;
    background: #00539d;
    color: #fff;
    padding: 0 22px;
    border: none;
    cursor: pointer;
    height: 20px;
    border-radius: 3px; }

.same-big {
  display: flex;
  box-shadow: 0 3px 6px 0 #00000008;
  border: solid 1px #f8f4f4;
  margin-bottom: 20px; }
  .same-big .avarta {
    flex: 0 0 50%; }
  .same-big .info {
    padding: 10px 20px; }
    .same-big .info a {
      display: block;
      line-height: 1.4;
      font-weight: bold;
      font-size: 22px; }
    .same-big .info .desc {
      color: #959595;
      font-size: 14px;
      padding: 15px 0; }

.same-small {
  height: 100%;
  box-shadow: 0 3px 6px 0 #00000008;
  border: solid 1px #f3f2f2; }
  .same-small .info {
    padding: 10px 15px; }
    .same-small .info a {
      display: block;
      font-size: 18px;
      line-height: 1.4; }

.sep-large-dotted {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGklEQVQImWNAAiHIHCx8TEC6DnRALTsZGBgAB1oCodVZbdoAAAAASUVORK5CYII=) repeat;
  height: 8px; }

.list-same {
  padding-bottom: 20px; }

.other-news {
  padding-top: 20px; }

.list-other {
  padding-top: 20px; }

.item-other {
  box-shadow: 0 2px 0 0 #00000008;
  border: solid 1px #ebebeb;
  margin-bottom: 20px;
  display: flex; }
  .item-other .avarta {
    flex: 0 0 220px;
    margin-right: 10px; }
  .item-other .info {
    padding: 10px; }
    .item-other .info a {
      display: block;
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 10px; }

.new-cate-big {
  display: flex;
  color: #959595;
  line-height: 1.6;
  box-shadow: 0 3px 6px 0 #00000008;
  border: solid 1px #f3f2f2;
  margin-bottom: 20px; }
  .new-cate-big .info {
    flex: 0 0 38%;
    padding: 10px 20px; }
    .new-cate-big .info a {
      display: block;
      line-height: 1.3;
      font-size: 24px;
      font-weight: bold; }
  .new-cate-big .desc {
    padding: 10px 0; }
  .new-cate-big .avarta {
    flex: 0 0 62%; }

.side-list {
  box-shadow: 0 3px 6px 0 #00000008;
  border: solid 1px #f8f4f4;
  margin-bottom: 20px; }
  .side-list:last-child {
    margin-bottom: 0; }
  .side-list ul {
    list-style: none;
    padding: 15px; }
    .side-list ul li {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ebebeb; }
      .side-list ul li:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0; }
    .side-list ul a {
      display: block;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px; }
  .side-list .header {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 20px;
    border-bottom: 1px solid #ebebeb;
    line-height: initial; }

.side-list-image .header {
  font-weight: bold;
  font-size: 18px;
  padding: 8px 20px;
  border-bottom: 1px solid #ebebeb; }
.side-list-image .info a {
  margin-bottom: 0; }
.side-list-image ul li .avarta {
  display: none; }
.side-list-image ul li:first-child .avarta {
  display: flex;
  align-items: center; }
.side-list-image ul li:first-child a {
  font-size: 18px;
  line-height: 1.3; }

.title-cate-top {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .title-cate-top h2 a {
    font-size: 17px;
    font-weight: bold;
    color: #141a1e; }
  .title-cate-top li {
    padding-right: 15px;
    border-right: 1px solid #ebebeb;
    line-height: 1; }
    .title-cate-top li:last-child {
      border-right: 0;
      padding-right: 0; }
  .title-cate-top a {
    font-size: 10px;
    color: #bec3c7; }
    .title-cate-top a.active, .title-cate-top a:hover {
      color: #28333b; }

.box-video-play {
  padding: 30px 0; }

.play-video {
  background: #333333;
  margin-bottom: 20px; }
  .play-video .col-md-9 {
    max-width: 70%;
    flex: 0 0 70%; }
  .play-video .col-md-3 {
    max-width: 30%;
    flex: 0 0 30%; }

.video-ifrmae {
  height: 520px; }
  .video-ifrmae img {
    height: 520px; }

.info-video {
  color: #ccc;
  height: 100%;
  padding: 12px 0 12px 12px;
  box-sizing: border-box;
  font-family: arial;
  line-height: 1.6; }
  .info-video .scroll-video {
    border-left: 0;
    height: 495px;
    padding: 0;
    max-height: unset; }
    .info-video .scroll-video::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: transparent; }
    .info-video .scroll-video::-webkit-scrollbar {
      width: 5px;
      background-color: transparent; }
    .info-video .scroll-video::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #717171; }
  .info-video .info {
    padding-right: 12px; }
  .info-video h1 {
    font-size: 24px;
    color: #fff;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 15px; }
  .info-video .date {
    color: #ccc;
    padding: 10px 0;
    border-top: thin solid #ccc;
    border-bottom: thin solid #ccc;
    margin-bottom: 20px; }
  .info-video .desc {
    margin-bottom: 20px; }

.cate-video h2 {
  font-size: 15px;
  line-height: inherit;
  margin-bottom: 10px; }

.cmt-video {
  background: #ccc;
  padding: 15px;
  font-size: 14px; }
  .cmt-video h3 {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 10px; }
  .cmt-video ul {
    margin-bottom: 10px; }
    .cmt-video ul a {
      color: #aaaaaa; }
  .cmt-video textarea {
    width: 100%;
    height: 75px;
    font-size: 13px;
    padding: 5px;
    outline: none;
    border: 1px solid #ddd; }
  .cmt-video .btn-submit input[type="submit"] {
    color: #fff;
    margin: 8px 1px 0 0;
    cursor: pointer;
    border: 0;
    background: #00539d;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
    cursor: pointer; }

.auther-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px; }

.title-video-cate {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px; }

.list-video .col-md-2 {
  flex: 0 0 20%;
  max-width: 20%; }

.item-video .avarta {
  margin-bottom: 10px; }
.item-video .info a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3; }

.list-cate-video {
  padding: 30px 0; }
  .list-cate-video .col-md-2 {
    flex: 0 0 20%;
    max-width: 20%; }
  .list-cate-video .col-md-10 {
    flex: 0 0 80%;
    max-width: 80%; }
  .list-cate-video .item-video {
    margin-bottom: 20px; }
  .list-cate-video .view-more a {
    width: 180px;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 40px;
    color: #435c73;
    border: thin solid #dee0e2;
    border-right: 3px solid #dee0e2;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center; }
    .list-cate-video .view-more a:hover {
      border-color: #435c73; }

.list-cate-video-title {
  font-size: 13px;
  position: sticky;
  top: 10px; }
  .list-cate-video-title ul {
    list-style: none; }
    .list-cate-video-title ul li {
      border-bottom: 0.5px solid #fff; }
    .list-cate-video-title ul a {
      display: flex;
      width: 100%;
      padding: 10px;
      background: #e6e6e6; }
      .list-cate-video-title ul a.active {
        color: #fff;
        background: #00539d; }
      .list-cate-video-title ul a:hover {
        background: #1778cf;
        color: #fff; }

.item-photo .avarta {
  margin-bottom: 10px; }
.item-photo .info h3 {
  margin-bottom: 0 !important; }
.item-photo .info a {
  display: block;
  font-size: 18px;
  line-height: 1.3; }

.list-photo .col-md-4 {
  margin-bottom: 30px; }

.btn-xemthem-home a {
  border: thin solid #ecf5fd;
  border-radius: 3px 3px 5px 5px;
  border-bottom-width: 3px;
  width: 250px;
  text-align: center;
  color: #00539d;
  font-size: 14px;
  margin: auto;
  cursor: pointer;
  transition: ease .3s !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 39px; }
  .btn-xemthem-home a:hover {
    border-color: #00539d;
    border-bottom-color: #1778cf; }

.slide-thumbs-video {
  background: #000000;
  padding: 10px; }
  .slide-thumbs-video span {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-align: left; }
  .slide-thumbs-video .slider-for {
    margin-bottom: 10px; }
  .slide-thumbs-video .slider-nav {
    margin: 0 -5px; }
    .slide-thumbs-video .slider-nav .clc {
      padding: 0 5px; }

.list-nav {
  padding: 0 5px; }

/*# sourceMappingURL=style.css.map */
